html, body {
    height: 100%;
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

#banner-wrap {
    position: relative;
}

#banner-wrap > #banner-list {
    /*高度塌陷*/
    overflow: hidden;
}

#banner-wrap > #banner-list li {
    float: left;
}

#banner-wrap > #banner-list img {
    width: 100%;
    vertical-align: middle;
}

#banner-wrap > #point {
    position: absolute;
    bottom: 6px;
    text-align: center;
    width: 100%;
}

#banner-wrap > #point span {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #b0b0b0;
    border-radius: 50%;
    margin: 0 4px;
}

#banner-wrap > #point span.active {
    background-color: #fff;
}